.App {
  display: flex;
  height: 100vh;
  
}

.sidebar {
  width: 200px;
  flex-shrink: 1;
  background-color: #f4f4f4;
  padding: 10px ;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 96%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}



.add-button {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.add-button:hover {
  background-color: #45a049;
}

.main {
  flex-grow: 1;
  padding-left: 10px;
}

.main textarea {
  flex-grow: 1;
  width: 98%;
  height: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.main button {
  font-size: 20px;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  

}

.main button:hover {
  background-color: #007B9E;
}

.edit-button {
  font-size: 14px;
  margin-top: 10px 10px;
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #007B9E;;
}